{% extends 'posts/base.html' %}

{% block content%}
    
        <div class="row">
            <h1>{{ post.title }} </div></h1>
            <div class = "row">
            <h5><u>Written by- </u><b>{{ post.author }}</b></h5></div>
            <br>
            <div class="row">
            <img src="{{ post.image.url }}" class="img-responsive">
            <br></div>
            <br><div class="row">
            <p>{{ post.description }}</p>
        </div>
        <a href="/posts/"><button class="btn btn-primary">Go back to all posts</button></a>
        <a href="{{post.get_delete_url}}"><button class="btn btn-default">Delete</button></a>
        <a href="{{post.get_update_url}}"><button class="btn btn-default">Update</button></a>
{% endblock content %}