{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div style="text-align:center"><h2>Login</h2></div>
<div style="text-align:center">
  <form method="post" id="form_login">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
    <button type="submit" id="myButton">Sign up</button>
    <script type = "text/javascript">
        document.getElementById("myButton").onclick = function () {
            location.href = "http://127.0.0.1:8000/accounts/signup/";
        };
    </script>
  </form></div>
{% endblock %}